BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "CLK" SITE "53" ;
LOCATE COMP "CNT_CMD" SITE "56" ;
LOCATE COMP "RST" SITE "55" ;
LOCATE COMP "CNT_C" SITE "37" ;
LOCATE COMP "CNT_O[0]" SITE "46" ;
LOCATE COMP "CNT_O[1]" SITE "45" ;
LOCATE COMP "CNT_O[2]" SITE "44" ;
