BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "Q0" SITE "46" ;
LOCATE COMP "Q1" SITE "45" ;
LOCATE COMP "Q2" SITE "44" ;
LOCATE COMP "Q3" SITE "43" ;
LOCATE COMP "Q4" SITE "40" ;
LOCATE COMP "Q5" SITE "39" ;
LOCATE COMP "Q6" SITE "38" ;
LOCATE COMP "Q7" SITE "37" ;
LOCATE COMP "RST" SITE "55" ;
LOCATE COMP "CLK" SITE "50" ;
LOCATE COMP "A0" SITE "58" ;
LOCATE COMP "A1" SITE "57" ;
